.main-section {
display: grid;
justify-content: center;
text-align: center;

background-size: 100%;
margin-top: 15%;
padding: 0;
margin: 0;
background-image: url('../assets/stage.PNG');
background-repeat: no-repeat;
background-size: cover;
}
.draft-page {
    height: 100%;
    width: 100%;
    font-family: cursive;
}
section p{
    color: lawngreen;
    font-size: 3em;
    font-weight: bolder;
    text-decoration: underline;
}
form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form label{
    border: crimson dashed .5em;
    background-color: black;
}
label p {
color: crimson;
}
button {
    width: 100%;
    background-color: crimson;
    font-size: large;
    font-weight: bolder;
    border-radius: 25%;
    padding: 10px;
    margin: 10px;
}
input[type=radio]{
    position: absolute;
    opacity: 0
}
input[type="radio"]:checked + label{
border: limegreen solid .5em;
}
#draft-button{
    background-color: limegreen;
}