.main-section {
display: grid;
justify-content: center;
text-align: center;

background-size: 100%;
margin-top: 15%;
padding: 0;
margin: 0;
background-image: url('../assets/stage.PNG');
background-repeat: no-repeat;
background-size: cover;
}
.draft-page {
    height: 100%;
    width: 100%;
    font-family: cursive;
}
section p{
    color: lawngreen;
    font-size: 3em;
    font-weight: bolder;
    text-decoration: underline;
}
form {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
form label{
    border: crimson dashed .5em;
    background-color: black;
}
label p {
color: crimson;
}
button {
    width: 100%;
    background-color: crimson;
    font-size: large;
    font-weight: bolder;
    border-radius: 25%;
    padding: 10px;
    margin: 10px;
}
header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);

}
h2 {
    font-size: 1.8rem;
    font-weight: bold;
}
.gutter-right {
    margin-right: 20px;
}
#draft-button{
    background-color: limegreen;
}
.playerPic{
    height: 30em;
    width: 20em;
}
.playerPic:hover {
    border-radius: 50%;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.playerPic:{
    border: 3px solid chartreuse;
}
input[type=radio]{
    position: absolute;
    opacity: 0
}
/* .draft-form label + input[type="radio"]:checked { 
    background: chartreuse;
} */
input[type="radio"]:checked + img { 
    border: 3px solid chartreuse;
 }