
body {
    
  
    --header-height: 80px;
    --shadow: 0px 10px 20px -12px rgba(0,0,0,0.45);
    --gutter: 30px;
    --footer-height: 25px;
    
    
    font-family: 'Titillium Web', sans-serif;
   
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: calc(var(--footer-height));
    font-size: 50px;
   
    
}

section {
    background-color: white;
    width: 1000px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: var(--gutter);
    padding-bottom: var(--gutter);
    margin-top: var(--gutter);
    margin-bottom: var(--gutter);
    border: solid 2px var(--color1);
    background-color: white;
    opacity: 89%;
    border-radius: 4%;
}

header {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    height: var(--header-height);
    box-shadow: var(--shadow);
    
}

footer {
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.gutter-right {
    margin-right: 20px;
}

.main-logo {
    animation: pulse 5s infinite ease-in-out;
}

header img {
    height: var(--header-height);
}



content {
    width: 80%;
}

p {
    margin: var(--gutter);
}
  
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: var(--footer-height);
    display: flex;
    justify-content: flex-end;
    background-color: var(--color3);
    box-shadow: var(--shadow);
}
  
  @keyframes pulse {
    20% {
      transform: rotate3d(-10, -10, -10, 50deg) scale(1.2);
    }

    40% {
        transform: rotate3d(10, 10, -10, 50deg) scale(1);
    }

    60% {
        transform: rotate3d(-10, 10, 10, 50deg) scale(1.2);
      }

    80% {
        transform: rotate3d(10, 10, 10, 50deg) scale(1);
    }

  }

table {
    width: 100%;
    border: 1px;
    border-style: solid;
}
.big-rules {
    font-size: 50px;
    color: black;
}
.start {
    font-size: 30px;
    color: black;
}
.rules {
    font-size: 20px;
    color: black;
    background-color: white;
    opacity: 85%;
}
.money-counter {
    font-size: 20px;
    color: yellowgreen;
}
.intro-body {
    background-image: url('../assets/Stadium.PNG');
    background-size: cover;
    background-position: center;
}
.team-name {
    font-weight: bold;
    color: black;
}
.background {
    background-color: white;
    opacity: 85%;
}
.team-page {
    background-image: url('../assets/lockerroom.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}
.draft-page {
    background-image: url('../assets/stage.PNG');
    background-repeat: no-repeat;
    background-size: cover;
}